parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Console\\\\Helper\\\\HelperInterface\\:\\:ask\\(\\)\\.$#"
			count: 1
			path: src/Bab/RabbitMq/Command/BaseCommand.php

		-
			message: "#^Method Bab\\\\RabbitMq\\\\Configuration\\\\FromArray\\:\\:offsetExists\\(\\) has parameter \\$offset with no typehint specified\\.$#"
			count: 1
			path: src/Bab/RabbitMq/Configuration/FromArray.php

		-
			message: "#^Method Bab\\\\RabbitMq\\\\Configuration\\\\FromArray\\:\\:offsetGet\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Bab/RabbitMq/Configuration/FromArray.php

		-
			message: "#^Method Bab\\\\RabbitMq\\\\Configuration\\\\FromArray\\:\\:offsetGet\\(\\) has parameter \\$offset with no typehint specified\\.$#"
			count: 1
			path: src/Bab/RabbitMq/Configuration/FromArray.php

		-
			message: "#^Method Bab\\\\RabbitMq\\\\Configuration\\\\FromArray\\:\\:offsetSet\\(\\) has parameter \\$offset with no typehint specified\\.$#"
			count: 1
			path: src/Bab/RabbitMq/Configuration/FromArray.php

		-
			message: "#^Method Bab\\\\RabbitMq\\\\Configuration\\\\FromArray\\:\\:offsetSet\\(\\) has parameter \\$value with no typehint specified\\.$#"
			count: 1
			path: src/Bab/RabbitMq/Configuration/FromArray.php

		-
			message: "#^Method Bab\\\\RabbitMq\\\\Configuration\\\\FromArray\\:\\:offsetUnset\\(\\) has parameter \\$offset with no typehint specified\\.$#"
			count: 1
			path: src/Bab/RabbitMq/Configuration/FromArray.php

