includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
    excludePaths:
        - vendor
        - tests
